# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Yarn
/.yarn

# Lets not have secrets in the repo
#.env
#I ran out of time to figure out how to make .env work with github secrets
